# Copyright 2025 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

include:
  - local: .gitlab/common.yml
  - local: .gitlab/sw-tests.yml

stages:
  - init
  - build
  - run

# Sources the environment variables for the IIS environment
.init-env:
  before_script:
    - source iis-env.sh

##################
# Initialization #
##################

init-deps:
  stage: init
  extends:
    - .init-deps-tpl
  artifacts:
    paths:
      - pd/ci.yml

########################################
# Generate RTL Sources and Addressmaps #
########################################

generate-rtl:
  stage: build
  extends:
    - .generate-rtl-tpl

########################
# Build Software Tests #
########################

sn-sw:
  stage: build
  extends:
    - .sn-sw-tpl

chs-sw:
  stage: build
  extends:
    - .chs-sw-tpl

#####################
# Build Simulations #
#####################

vsim-compile:
  stage: build
  needs:
    - generate-rtl
  script:
    - make vsim-compile | tee compile.log 2>&1
    - '! grep "\*\* Error" compile.log'
  artifacts:
    paths:
      - target/sim/vsim/work
    expire_in: 1 day

###################
# Run simulations #
###################

sim-vsim:
  stage: run
  extends:
    - .cache-deps
    - .init-env
    - .sw-tests
  variables:
    LOG_FILE: target/sim/vsim/transcript
  needs:
    - chs-sw
    - sn-sw
    - vsim-compile
  script:
    # Run the simulation
    - make vsim-run-batch-verify
    # Check either success or failure for non-zero exit codes
    - 'if [ -z "${NZ_EXIT_CODE}" ]; then grep "] SUCCESS" transcript || (exit 1); else grep "] FAILED: return code ${NZ_EXIT_CODE}" transcript || (exit 1); fi'
    # Check for UART output
    - 'if [ ! -z "${USTR}" ]; then (grep " \[UART\] ${USTR}" transcript); fi'
    # Check for any fatal errors
    - 'if grep "Fatal:" transcript; then exit 1; fi'
    # Check for any non-fatal errors. One and only one error is expected with a non-zero exit code.
    # Ignore all errors when using a separate verification script.
    - 'if [ -z "${VERIFY_PY}" ]; then if [ ! -z "${NZ_EXIT_CODE}" ]; then count=$(grep -c "Error:" transcript); if [ "$count" -ne 1 ]; then exit 1; fi; else if grep -q "Error:" transcript; then exit 1; fi; fi; fi'
  artifacts:
    paths:
      - transcript

###################
# Physical Design #
###################

subpipe:
  stage: build
  needs:
    - init-deps
  trigger:
    include:
      - artifact: pd/ci.yml
        job: init-deps
    strategy: depend
