# Copyright 2025 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# FlooNoC requirements
click
mako
matplotlib
networkx
pydantic
ruamel.yaml

# Snitch cluster requirements
hjson
jsonref
jsonschema

# Cheshire requirements
pyyaml
flatdict
tabulate
