# Copyright 2025 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# FlooNoC requirements
click
mako
matplotlib
networkx
pydantic
ruamel.yaml

# Snitch cluster requirements
json5
jsonref
jsonschema

# Cheshire requirements
pyyaml
flatdict
tabulate

# Miscellaneous requirements
hjson  # for reggen

# For peakrdl
peakrdl
peakrdl-rawheader @ git+https://github.com/colluca/PeakRDL-rawheader.git@7b8dbc9ad5854dc1cdaf36d4ea024c29ffb00a4c
peakrdl-markdown
