# Copyright 2025 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# FlooNoC requirements
click
mako
matplotlib
networkx
pydantic
ruamel.yaml

# Snitch cluster requirements
json5
jsonref
jsonschema

# Cheshire requirements
pyyaml
flatdict
tabulate

# Miscellaneous requirements
hjson  # for reggen

# For peakrdl
peakrdl
peakrdl-rawheader @ git+https://github.com/colluca/PeakRDL-rawheader.git@9a7bd727986ee2ffa5105c61aaeb5c991309d29b
peakrdl-markdown
